body {
    font-family: Candara;
}
header {
    font-size: 36px;
}
.sidebar {
    width: 600px;
    display: inline-block;
}
.sidebar.left {
    float: left;
    margin-left: 150px;
}
.sidebar.right {
    float: right;
    margin-right: 150px;
}