body {
    font-family: Candara;
}
header {
    font-size: 36px;
    height: 200px;
    background: linear-gradient(45deg, rgba(140,68,139,1) 0%, rgba(187,146,196,1) 100%);
}
header h1 {
    vertical-align: middle;
}
.sidebar {
    background: white;
    width: 600px;
    display: inline-block;
}
.sidebar.left {
    float: left;
    margin-left: 150px;
}
.sidebar.right {
    float: right;
    margin-right: 150px;
}
img {
    border: 2px solid black;
}